body {
  background-color : ivory;
  font-family: "Open Sans";
  color : DarkBlue;
  margin: 10px 50px 10px 50px;
}
h1, h2 {
  font-family: "Oswald";
}
img {
  float: left;
}
div {
  float : left;
  width : 300px;
}
#nav ul {
  list-style-type: none;
}
#nav li{
  display: inline;
}
#nav  a {
  margin: 0px 25px 0px 25px;
}